@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

p,
a,
label,
input,
button {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

/* adding hamburger animation */
#navBtn .btn-line{
    height: 2px;
    width: 20px;
    background-color: antiquewhite;
    margin: 5px;
    transition: all 0.5s ease-in-out;
}

#navBtn.close{
    transform: rotate(180deg);
}

#navBtn.close .btn-line:nth-child(1){
    transform: rotate(45deg) translate(5px,5px);
}
#navBtn.close .btn-line:nth-child(2){
    opacity: 0;
}
#navBtn.close .btn-line:nth-child(3){
    transform: rotate(-45deg) translate(5px,-5px);
}
