@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

#bg-image {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;
    display: block;
    width: 100%;
    height: 800px;
    background-image: url('https://images.unsplash.com/photo-1726137570707-0c03e2867b16?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    opacity: 0.8;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

p,
a,
label,
input,
button {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}